
body{
   background-color:#0ec777;
   border-style: solid;
   border-color: #00ff91;
   border-width:10px;
   margin:0px;
 }
header{
  font-family:Selima-script;
  font-size:30px;
  letter-spacing:2px;

}
h1{
  text-transform:uppercase;
}
h3{text-align:center;
  }