
body{
   background-color:#c2ffe4;
   border-style: solid;
   border-color: #40ce91;
   border-width:10px;
   margin:0px;
 }
header{
  font-family:Selima-script;
  font-size:30px;
  letter-spacing:2px;
  color:#FFFFFF;

}
h1{
  text-transform:uppercase;
  color:#FFFFFF;
}
h3{text-align:center;
   font-size:36px;
   color:#0d7d4c;
  }

h4{font-size:25px;
  color:#2DDB90}
.myName{
  text-align:center;
  margin:0px;
  color:#FFFFFF;
}

p{color:#06b17e;
  font-size:20px
}
ul,li{color:#06b17e;
  font-size:20px
  
}

#contactInfo{
  color:#05fca9;
}